<ion-content>    
<div class="bar bar-header">
  <button class="button icon ion-navicon"></button>  
  <h1 class="title">สมาชิก</h1>
  <button class="button">Edit</button>
</div>
<br>
<br>
<br>
<div class="list has-header">


    <a class="item item-thumbnail-left" href="#/menu/member/profile_par">
      <img src="img/par.jpg">
      <h2>นางสาวปาริฉัตร &nbsp; &nbsp;ทองธรรมชาติ</h2>
      <p>ชื่อเล่น &nbsp;ปลา</p>
    </a>

    <a class="item item-thumbnail-left" href="#/menu/member/profile_pang" >
      <img src="img/pang.jpg">
      <h2>นางสาวอาทิตยา &nbsp; &nbsp;เพชรสิงห์</h2>
      <p>ชื่อเล่น &nbsp;เเป้ง</p>
    </a>

    <a class="item item-thumbnail-left" href="#/menu/member/profile_tar">
      <img src="img/tar.jpg">
      <h2>นายปิยวัช &nbsp; &nbsp;น้อยยอด</h2>
      <p>ชื่อเล่น &nbsp;ต้า</p>
    </a>

  
  
</div>
</ion-content>